<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'core/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/login.css' %}" rel="stylesheet">
    
    <!-- Page level plugin CSS-->
    <link href="{% static 'core/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/sb-admin.css' %}" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">


    <script src="{% static 'core/js/jquery-3.4.1.min.js' %}"></script>

  </head>


  <body>
    <div class="main mb-5">
      <div class="container-fluid" style="background-color: rgb(223, 116, 89);">
        <!-- Messages -->
        <div>
          {% if messages %}
            {% for message in messages %}
              <div style="border-radius:0;" {% if message.tags %} class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert" {% endif %}>
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          {% endif %}
        </div>            
        <div class="container-fluid">
          <div class="row">            
            <div class="col-md-3">
              <div class="avatar navbar-brand">
                <img class="sizelogo" src="{% static 'core/img/careapp_logo_white.png' %}" alt="CareApp_Logo" />
              </div>
            </div>               
          </div>
        </div>          
      </div>  
    </div>
    {% block content %}{% endblock content %}

    <footer class="footer container-fluid blockquote-footer" style="background-color: rgb(223, 116, 89);">
      <div class="row">
        <div class="col-5 border-right">
          <p class="mt-2 font-weight-bold text-right text-white">CareApp</p>
        </div>
        <div class="col border-right">
          <p class="mt-2 text-center text-white">Derechos Reservados ©</p>
        </div>
        <div class="col-5">
          <p class="mt-2 text-left text-white">2019</p>
        </div>
      </div>
    </footer>
    
    <script src="{% static 'core/js/popper.min.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/js/main.js' %}"></script>
    <script src="{% static 'core/js/app.js' %}"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="{% static 'core/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'core/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'core/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'core/js/sb-admin.min.js' %}"></script>
    <script src="{% static 'core/js/demo/datatables-demo.js' %}"></script>
    <script src="{% static 'core/js/demo/chart-area-demo.js' %}"></script>
    {% comment %} <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script> {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
      var error_response = function(data){
        $('.api-response').html("API Response: " + data.status + ' ' + data.statusText + '<br/>Content: ' + data.responseText);
      }
      var susccess_response = function(data){
        $('.api-response').html("Cambio de contraseña éxitoso<br/>Content: " + JSON.stringify(data));
      }

      $().ready(function(){
        $('form.ajax-post button[type=submit]').click(function(){
          var form = $('form.ajax-post');
          $.post(form.attr('action'), form.serialize())
          .fail(function(data){error_response(data);})
          .done(function(data){susccess_response(data);});
          return false;
        });
      });
    </script>
    {% block script %}{% endblock %}
  </body>

</html>
