{% extends "user/pass_base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-auto">
            <h3>Confirmación de restablecimiento de contraseña</h3></h> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-auto">
            {% include "user/fragments/password_reset_confirm_form.html" %}
        </div>
    </div>
</div>
{% endblock %}



{% block script %}
    <script type="text/javascript">
        var url_elements = window.location.pathname.split('/');
        if (url_elements.length == 6){
            var uid = url_elements[url_elements.length - 3];
            if (uid !== undefined){
                $('input[name=uid]').val(uid);
            }
            var token = url_elements[url_elements.length - 2];
            if (token !== undefined){
                $('input[name=token]').val(token);
            }
        }
    </script>
{% endblock %}
