{% extends 'core/navs.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content1 %}
{% comment %} {% include 'resource/includes/resource_menu.html' %} {% endcomment %}

{% comment %} {% load i18n %}
        
{% block head %}
{{ wizard.form.media }}
{% endblock %} {% endcomment %}

<div class="container-fluid" style="background-color: #FFFFFF !important;">
  <div class="container">
    <div class="justify-content-center">
      
      <form action="" enctype="multipart/form-data" method="post">
          {% csrf_token %}
          
          <div class="pt-4 pb-4">
            <label style="font-size: 22px;" class="text-secondary">REGISTRAR NUEVO USUARIO</label>
          </div>
          <div class="{% if form.non_field_errors %}invalid{% endif %} ">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
          
          <div class="col-md">
            <div class="row">
              <div class='col-md-6 pt-2'>

                <label class="text-secondary pl-2" style="font-size: 14px;">Teléfono:</label>
                <div class="col-md-7 form-group">
                  <div class="border rounded">
                    {% render_field form.phone_number placeholder=field.label %}                    
                  </div>                  
                  <div class="{% if field.errors %} invalid{% endif %}">
                      <p class="help-block">{{ form.errors.phone_number }} </p>
                  </div>
                </div>
                <label class="text-secondary pl-2" style="font-size: 14px;">Nombres:</label>
                <div class="col-md-7 form-group">
                  <div class="border rounded">
                    {% render_field form.name placeholder=field.label %} 
                  </div>
                  <div class="{% if field.errors %} invalid{% endif %}">
                      <p class="help-block">{{ form.errors.name }} </p>
                  </div>
                </div>
                <label class="text-secondary pl-2" style="font-size: 14px;">Apellidos:</label>
                <div class="col-md-7 form-group">
                  <div class="border rounded">
                    {% render_field form.lastname  placeholder=field.label %} 
                  </div>
                  <div class="{% if field.errors %} invalid{% endif %}">
                      <p class="help-block">{{ form.errors.lastname }} </p>
                  </div>
                </div>
                <label class="text-secondary pl-2" style="font-size: 14px;">Email:</label>
                <div class="col-md-7 form-group">
                  <div class="border rounded">
                    {% render_field form.email placeholder=field.label %} 
                  </div>
                  <div class="{% if field.errors %} invalid{% endif %}">
                      <p class="help-block">{{ form.errors.email }} </p>
                  </div>
                </div>
                <label class="text-secondary pl-2" style="font-size: 14px;">Password:</label>
                <div class="col-md-7 form-group">
                  <div class="border rounded">
                    {% render_field form.password placeholder=field.label %} 
                  </div>
                  <div class="{% if field.errors %} invalid{% endif %}">
                      <p class="help-block">{{ form.errors.password }} </p>
                  </div>
                </div>                
              </div>            
            </div>
          </div>
          <div class="col-md-3 pl-0 pb-3 pt-5" style="margin-left: 300px;">
            <div class="pl-0">
              <input type="submit" class="btn btn-outline-light btn-block" style="background-color: #b24f37;" value="Guardar" />
            </div>
          </div>
        </form> 

    </div>
  </div>
</div>
{% endblock %}