{% extends 'core/navs.html' %}
{% load static %}

{% block content1 %}
  {% comment %} {% include 'resource/includes/resource_menu.html' %} {% endcomment %}

  <div class="container-fluid" style="background-color: #FFFFFF !important;">
    <div class="container">
      <div class="justify-content-center">


        <!--MODAL FADE-->
        {% include 'user/modal.html' %}
        <!--END MODAL FADE-->

        <div class="pb-4 pt-4">
          <div class="text-right">
            <a class="navbar-brand ml-4 font-weight-bold  text-info" href="{% url 'crear_usuario' %}" style="font-size: 12px;">REGISTRAR NUEVO USUARIO</a>
          </div>
          <table class="table table-borderless">
            {% for user in object_list|dictsort:"phone_number" %}
              {% if  user.is_active == True %}
                {% if forloop.first %}
                  <thead>
                    {% comment %} <div class="text-right">
                        <a class="navbar-brand ml-4 font-weight-bold  text-info" href="{% url 'crear_vehiculo' %}" style="font-size: 12px;">REGISTRAR NUEVO VEHÍCULO</a>
                    </div> {% endcomment %}
                    <tr class="text-center">
                      <th scope="col"><p class="text-secondary" style="font-size: 12px;">Celular</p></th>
                      <th scope="col"><p class="text-secondary" style="font-size: 12px;">Nombres</p></th>
                      <th scope="col"><p class="text-secondary" style="font-size: 12px;">Apellidos</p></th>
                      <th scope="col"><p class="text-secondary" style="font-size: 12px;">Email</p></th>
                      <th scope="col"><p class="text-secondary" style="font-size: 12px;">Tipo</p></th>
                    </tr>
                  </thead>
                {% endif %}
                
                <tbody>
                  <tr scope="row" class="center-block text-center border rounded-pill pt-3 pb-3">
                  <td><p class="mt-3 font-weight-bold text-secondary" style="font-size: 15px;">{{user.phone_number}}</p></td>
                  <td><p class="mt-3 font-weight-bold text-secondary" style="font-size: 15px;">{{user.name}}</p></td>
                  <td><p class="mt-3 font-weight-bold text-secondary" style="font-size: 15px;">{{user.lastname}}</p></td>
                  <td><p class="mt-3 font-weight-bold text-secondary" style="font-size: 15px;">{{user.email}}</p></td>
                  <td><p class="mt-3 font-weight-bold text-secondary" style="font-size: 15px;">
                  {% if user.is_business_owner %}
                    Dueño de Negocio
                  {% elif user.is_superuser or user.is_staff %}
                    Administrador
                  {% else %}  
                    Usuario Móvil
                  {% endif %}  
                  </p></td>
                  <td class="pt-0"><button type="button" class="user_detail btn mt-4 btn-sm text-white" 
                      style="background-color: #b24f37;" data-id="{% url 'detalle_usuario' user.pk %}"><span class="fa fa-eye"></span></button></td>
                  <td class="pt-0"><button type="button" class="user_update btn mt-4 btn-sm btn-primary" data-id="{% url 'actualizar_usuario' user.pk %}">
                  <span class="fa fa-pencil"></span>
                  </button></td>
                  </tr>
                </tbody>
              {% endif %}
              {% empty %}
                <div class="row mt-3">
                  <h4>No hay datos que presentar</h4>
                </div>  
            {% endfor %}
          </table>
        </div>

        <!-- Menú de paginación -->
        {% if is_paginated %}
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
                <li class="page-item ">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                </li>
              {% endif %}
              {% for i in paginator.page_range %}
                <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item ">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        {% endif %}

        <!-- Contenido extra -->
        <div class="pb-5">
        </div>
        <div class="pb-5">
        </div>
        <div class="pb-5">
        </div>
        <div class="pb-5">
        </div>
        
      </div>
    </div>
  </div>

{% endblock %}