{% extends 'core/navs.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content1 %}
{% comment %} {% include 'resource/includes/resource_menu.html' %} {% endcomment %}

{% comment %} {% load i18n %}
        
{% block head %}
{{ wizard.form.media }}
{% endblock %} {% endcomment %}

<div class="container-fluid" style="background-color: #FFFFFF !important;">
  <div class="container">
    <div class="justify-content-center">
      
      <form action="" id="vehicleForm" enctype="multipart/form-data" method="post" data-models-url="{% url 'ajax_load_models' %}" novalidate>
          {% csrf_token %}
          <div class="{% if form.non_field_errors %}invalid{% endif %} ">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
          <div class="pt-4 pb-4">
            <label style="font-size: 22px;" class="text-secondary">REGISTRAR NUEVO VEHÍCULO</label>
          </div>
          
          <div class="col-md">
            <div class="row">
              <div class='col-md-6 pt-2'>

                <label class="text-secondary pl-2" style="font-size: 14px;">Marca</label>
                <div class="col-md-7 form-group">
                  <div class="border rounded">
                    {% render_field form.brand class="form-control" placeholder=field.label %} 
                  </div>
                </div>
                <label class="text-secondary pl-2" style="font-size: 14px;">Modelo</label>
                <div class="col-md-7 form-group">
                  <div class="border rounded">
                    {% render_field form.model class="form-control" placeholder=field.label %} 
                  </div>
                </div>
                <label class="text-secondary pl-2" style="font-size: 14px;">Placa</label>
                <div class="col-md-7 form-group">
                  <div class="border rounded">
                    {% render_field form.plate class="form-control" placeholder=field.label %} 
                  </div>
                  <div class="{% if field.errors %} invalid{% endif %}">
                      <p class="help-block">{{ form.errors.plate }} </p>
                  </div>
                </div>
                <label class="text-secondary pl-2" style="font-size: 14px;">Color</label>
                <div class="col-md-7 form-group">
                  <div class="border rounded">
                    {% render_field form.color class="form-control" placeholder=field.label %} 
                  </div>
                </div>
                <label class="text-secondary pl-2" style="font-size: 13px;">Año</label>
                <div class="col-md-7 form-group">
                  <div class="border rounded">
                      {% render_field form.year class="form-control" placeholder=field.label %}
                  </div>
                </div>
                <label class="text-secondary pl-2" style="font-size: 14px;">Propietario</label>
                <div class="col-md-7 form-group">
                  <div class="border rounded">
                    {% render_field form.owner class="form-control" placeholder=field.label %} 
                  </div>
                </div>
              </div>

              <div class='col-md-6 pt-2'>
                <label class="text-secondary pl-2" style="font-size: 14px;">Descripción</label>
                <div class="col-md-7 form-group">
                  <div class="border rounded">
                    {% render_field form.description class="form-control" placeholder=field.label %} 
                  </div>
                </div>
                <label class="text-secondary pl-2" style="font-size: 14px;">Kilometros</label>
                <div class="col-md-7 form-group">
                  <div class="border rounded">
                    {% render_field form.km class="form-control" placeholder=field.label %} 
                  </div>
                </div>
                
                
              </div>
            </div>
          </div>
          <div class="col-md-3 pl-0 pb-3 pt-4" style="margin-left: 300px;">
            <div class="pl-0">
              <input type="submit" class="btn btn-outline-light btn-block" style="background-color: #b24f37;" value="Guardar" />
            </div>
          </div>
        </form> 

    </div>
  </div>
</div>

<script>
  $("#id_brand").change(function () {
    var url = $("#vehicleForm").attr("data-models-url");  // get the url of the `load_cities` view
    var brandId = $(this).val();  // get the selected country ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'brand': brandId       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#id_model").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });
  });
</script>

{% endblock %}